@model Library.Models.FindBook

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FindBook</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tytuł" class="control-label"></label>
                <input asp-for="Tytuł" class="form-control" />
                <span asp-validation-for="Tytuł" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imię_Autora" class="control-label"></label>
                <input asp-for="Imię_Autora" class="form-control" />
                <span asp-validation-for="Imię_Autora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko_Autora" class="control-label"></label>
                <input asp-for="Nazwisko_Autora" class="form-control" />
                <span asp-validation-for="Nazwisko_Autora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwa_Gatunku" class="control-label"></label>
                <input asp-for="Nazwa_Gatunku" class="form-control" />
                <span asp-validation-for="Nazwa_Gatunku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stan" class="control-label"></label>
                <input asp-for="Stan" class="form-control" />
                <span asp-validation-for="Stan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dostępność" class="control-label"></label>
                <input asp-for="Dostępność" class="form-control" />
                <span asp-validation-for="Dostępność" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Okładka" class="control-label"></label>
                <input asp-for="Okładka" class="form-control" />
                <span asp-validation-for="Okładka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
